body {
  background-color: #F5F2F2
}

p {
  color: #4a4a4a;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  max-width: 700px;
  width: 100%;
  margin: auto;
  font-size: 21px;
}

ul {
  list-style-type: circle;
  color: #4a4a4a;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  max-width: 600px;
  width: 90%;
  margin: auto;
  font-size: 21px;
  padding-top: 20px;
  padding-bottom: 20px;
}

ol {
  list-style-type: lower-alpha;
  color: #4a4a4a;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  max-width: 600px;
  width: 90%;
  margin: auto;
  font-size: 18px;
}

#header {
  width: 96%;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
}

#header-container {
  display: block;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-family: "Muli", sans-serif;
  font-size: 21px;
  font-weight: 400;
}

a:link {
  color: #0069e2;
  text-decoration: underline;
}

a:visited {
  color: #0069e2;
  text-decoration: underline;
}

a:hover {
  color: #0b0c0c;
  text-decoration: underline;
}

a:active {
  outline: 3px solid #FBD205;
  outline-offset: 0px;
}

a.logo {
  float: left;
  margin-left: 0px;
  margin-top: 27px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #4a4a4a;
}

a.logo:link {
  text-decoration: none;
}

a.logo:visited {
  color: #4a4a4a;
  text-decoration: none;
}

a.logo:hover {
  color: #6C6B6B;
  text-decoration: none;
}

a.logo:active {
  color: #6C6B6B;
  outline: 3px solid #FBD205;
  outline-offset: 0px;
  text-decoration: none;
}

a.linkone {
  margin-top: 30px;
  margin-right: 0px;
  float: right;
  font-size: 18px;
}

a.linktwo {
  margin-top: 30px;
  margin-right: 30px;
  float: right;
  font-size: 18px;
}

a.profilesecond {
  font-family: "Muli", sans-serif;
  font-size: 21px;
  font-weight: 400;
  text-align: left;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 32px;
}

.profile-text {
  width: 96%;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 0px;
  padding-bottom: 0px;
}

h1.profile {
  color: #4a4a4a;
  text-align: left;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 90px;
  font-size: 32px;
}

h1.profile-one {
  color: #4a4a4a;
  text-align: left;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 45px;
  font-size: 32px;
}

h1.profile-two {
  color: #4a4a4a;
  text-align: left;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 60px;
  font-size: 32px;
}

h1.profilesecond {
  color: #4a4a4a;
  text-align: left;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 0px;
  font-size: 32px;
}

h1.profilethird {
  color: #4a4a4a;
  text-align: left;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

a.h1link {
  font-family: "Muli", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

h1 {
  color: #4a4a4a;
  text-align: center;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  width: 60%;
  margin: auto;
  margin-left: 30px;
  margin-left: 30px;
  padding-top: 0px;
  font-size: 32px
}

#profile-picture {
  width: 96%;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
}

.picture {
  display: block;
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

p.caption {
  text-align: center;
  margin-bottom: 60px;
  font-size: 17px;
}

.rob-profile {
  display: block;
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

h3.profile-heading {
  color: #4a4a4a;
  text-align: left;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 32px;
}

p.profile {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.arrow-icon {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

a.arrow-icon-hover: active {
  outline: 3px solid #FBD205;
  outline-offset: 0px;
  text-decoration: none;
  padding: none;
  margin: none;
}
